.global-variables {

  --sideBarHeight: 10rem;

  --cardHeight: 25rem;
  --cardWidth: 14rem;

  --cardImageHeight: 10rem;
  --cardImageWidth: 14rem;

  --fontSmallest: 0.7rem;
  --fontSmall: 0.8rem;
  --fontMedium: 0.9rem;
  --fontSubTitle: 1.1rem;
  --fontTitle: 1.3rem;

  --colorExtraSmallRace: #ff595e;
  --colorSmallRace: #ffca3a;
  --colorMediumRace: #8ac926;
  --colorLargeRace: #1982c4;
  --colorExtraLargeRace: #6a4c93;

  --minCardsHeight: calc(25rem * 2 + 5rem);
  --cardsWidth: calc(calc(14rem + 20px) * 4);

  --formCreateBreedHeight: 30rem;
  --formCreateBreedWidth: 50rem;

  --durationPaginateSection: 500ms;
}

.imageParam,
.tab {
  fill: var(--fontColor);
  z-index: 5;
}

.FILLExtra-Small {
  fill: var(--colorExtraSmallRace);
}

.FILLSmall {
  fill: var(--colorSmallRace);
}

.FILLMedium {
  fill: var(--colorMediumRace);
}

.FILLLarge {
  fill: var(--colorLargeRace);
}

.FILLExtra-Large {
  fill: var(--colorExtraLargeRace);
}

.COLORExtra-Small {
  color: var(--colorExtraSmallRace);
}

.COLORSmall {
  color: var(--colorSmallRace);
}

.COLORMedium {
  color: var(--colorMediumRace);
}

.COLORLarge {
  color: var(--colorLargeRace);
}

.COLORExtra-Large {
  color: var(--colorExtraLargeRace);
}

.BGExtra-Small {
  background-color: var(--colorExtraSmallRace);
}

.BGSmall {
  background-color: var(--colorSmallRace);
}

.BGMedium {
  background-color: var(--colorMediumRace);
}

.BGLarge {
  background-color: var(--colorLargeRace);
}

.BGExtra-Large {
  background-color: var(--colorExtraLargeRace);
}

.FONTSMALLEST {
  font-size: var(--fontSmallest);
}

.FONTSMALL {
  font-size: var(--fontSmall);
}

.FONTMEDIUM {
  font-size: var(--fontMedium);
}

.FONTSUBTITLE {
  font-size: var(--fontSubTitle);
}

.FONTTITLE {
  font-size: var(--fontTitle);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkTheme {
  --primaryColor: #212529;
  --primaryColorSub: #343a40;
  --fontColor: #FFFFFF;

  --secondaryColor: #ffb703;
  --dangerColor: crimson;
  --successColor: #8ac926;

  --reversePrimaryColor: #f8f9fa;
  --reversePrimaryColorSub: #e9ecef;
  --reverseFontColor: #000000;
}

.ligthTheme {
  --primaryColor: #f8f9fa;
  --primaryColorSub: #e9ecef;
  --fontColor: #000000;

  --secondaryColor: #ffb703;
  --dangerColor: crimson;
  --successColor: #8ac926;

  --reversePrimaryColor: #212529;
  --reversePrimaryColorSub: #343a40;
  --reverseFontColor: #FFFFFF;
}

.body {
  background-color: var(--primaryColorSub);
  transition: background-color 0.5s;
  
  --defaultHeight: 100vh;
  min-height: var(--defaultHeight);
}

/* Animaciones de paginado. */

.fadeInRight {
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
}