.card {
  height: var(--cardHeight);
  width: var(--cardWidth);

  display: grid;
  grid-template-rows: 10rem 10rem 3rem;

  box-sizing: content-box;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);

  margin: 10px;
  background-color: var(--primaryColor);
  color: var(--fontColor);
  position: relative;

  transition: background-color 0.5s;
}

.card:hover {
  background-color: var(--reversePrimaryColor);
  color: var(--reverseFontColor);

  animation: moveCard 0.5s;
  animation-fill-mode: forwards;
}

.imageZone {
  grid-row: 1 / 2;
  grid-column: 1 / 1;

  overflow: hidden;
}

.mainZone {
  grid-row: 2 / 3;
  grid-column: 1 / 1;

  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
  grid-template-columns: 1fr;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 1rem 0 1rem;

  text-align: center;

  transition: color 0.5s;
}

.sizeBreed {
  grid-row: 1 / 2;
  font-size: 0.8rem;
  color: orange;
  font-weight: 700;

  text-decoration: underline;
  text-underline-offset: 3px;
}

.titleBreed {
  grid-row: 2 / 3;
  font-weight: 700;
}

.temperaments {
  grid-row: 3 / 4;
  font-size: 0.8rem;
  font-style: italic;
}

.barZone {
  grid-row: 3 / 4;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  grid-gap: 1px;
}

.weigth {
  height: 100%;
  width: 100%;
  background-color: orange;

  justify-content: space-evenly;
  flex-direction: column;

  color: var(--primaryColor);
}

.textInfo {
  font-size: var(--fontSmall);
  font-weight: 700;
}

.textTitle {
  font-size: var(--fontTitle);
  font-weight: 700;
}

.textTitle i {
  font-size: var(--fontMedium);
}

.weigthIco {
  height: 60%;
  width: 60%;
}

@keyframes moveCard {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -10px);
  }
}