.btnRemoveTemperament {
  margin: 5px;
  font-size: var(--fontSmall);
  color: var(--fontColor);
  border-radius: 5px;
  background-color: var(--primaryColorSub);
  border: 1px solid transparent;
  font-weight: 700;
  opacity: 0.7;

  padding: 0 1rem 0 0.5rem;

  overflow: hidden;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5px 1fr;
  grid-gap: 10px;

  cursor: pointer;
}

.remove {
  font-size: var(--fontMedium);
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

.showName {
  cursor: pointer;
  justify-self: flex-start;
  align-self: center;
}

/*.remove {
  font-size: var(--fontSmall);
  display: none;
}
*/
.btnRemoveTemperament:hover {
  background-color: var(--dangerColor);
  color: white;
  opacity: 1;
}

/*.btnRemoveTemperament:hover > .remove {
  display: inline-block;
  cursor: pointer;
}

.btnRemoveTemperament:hover > .showName {
  display: none;
}*/