.containerOptions {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.optionName {
  font-size: var(--fontMedium);
  color: var(--fontColor);
  font-weight: 700;
  background-color: var(--primaryColorSub);
  padding: 0.2rem 1rem 0.2rem 1rem;
  text-align: center;
  opacity: 0.7;
  width: 100%;
  box-sizing: border-box;
}

.options {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  height: calc(var(--fontMedium) + 10px);
}

.btnAddTemperament {
  margin: 0;
  padding: 0;
  font-size: var(--fontSmall);
  color: var(--primaryColor);
  border-radius: 5px;
  background-color: var(--reversePrimaryColorSub);
  border: 1px solid transparent;
  font-weight: 700;
  opacity: 0.7;
}

.btnAddTemperament:hover {
  cursor: pointer;
  background-color: var(--secondaryColor);
  opacity: 1;
}

.plus {
  font-size: var(--fontMedium);
}