.containerOptions {
}

.optionName {
  font-size: var(--fontMedium);
  color: var(--fontColor);
  font-weight: 700;

  background-color: var(--primaryColorSub);

  padding: 0.2rem 1rem 0.2rem 1rem;
  margin: 0.5rem 0 0.5rem 0;

  text-align: center;

  opacity: 0.7;
}

.options {

}