.background {
  height: 100vh;
  width: 100vw;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;

  background-color: rgba(0, 0,0 , 0.7);
}

.modal {
  background-color: var(--primaryColor);
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;

  align-items: center;
  justify-items: center;
}

.modalTitle {
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-weight: 700;
  font-size: var(--fontSubTitle);
  color: var(--fontColor);
}

.title {
  padding-left: 0.5rem;
}

.closeModal {
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  font-weight: 900;
  font-size: var(--fontTitle);
  color: var(--fontColor);
}

.closeModal:hover {
  cursor: pointer;
  color: var(--secondaryColor);
}

.divInput {
  width: 100%;
  margin-top: 0.5rem;
}

.validationMsg {
  width: 100%;
  height: 1rem;
  text-align: center;
  font-size: var(--fontSmall);
  font-weight: 700;
  color: var(--dangerColor);
  margin: 0.5rem 0 0.5rem 0;
}

.valid {
  color: var(--successColor);
}

.rules {
  color: var(--fontColor);
  font-size: var(--fontSmallest);
  font-weight: 700;
  opacity: 0.7;
}

.rules li {
  margin: 3px;
}

.divOptions {
  width: 100%;
  justify-content: space-between !important;
}

.btnCreate:disabled {
  color: var(--fontColor);
  background-color: var(--primaryColor);
  border: 1px solid var(--fontColor);
  cursor: default;
}

.btnCreate,
.btnCancel {
  color: white;
  font-size: var(--fontSmall);
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  margin: 0 1rem 0 1rem;
  width: 30%;
  height: 2rem;
}

.btnCreate {
  background-color: var(--secondaryColor);
  border: 1px solid var(--secondaryColor);
}

.btnCancel {
  background-color: var(--dangerColor);
  border: 1px solid var(--dangerColor);
}