.container {
  min-height: var(--minCardsHeight);
  width: 100%;
  display: flex;
  justify-content: center;
}

.gridCards {
  display: grid;
  grid-template-columns: repeat(4, var(--cardWidth));
  grid-auto-rows: var(--cardHeight);

  grid-gap: 2rem;

  align-items: center;
  justify-items: center;
}

.breedNotFoundContainer,
.loadingImageContainer {
  min-height: inherit;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start !important;
}

.notFoundTitle {
  color: var(--fontColor);
}

.loadingImage {
  height: 50%;
  width: 50%;
}

.fillLoadingImage {
  fill: var(--secondaryColor);
}