.container {
  min-height: var(--minCardsHeight);
  width: 100%
}

.gridCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: calc(var(--cardHeight) + 20px);

  align-items: center;
  justify-items: center;
}

.breedNotFoundContainer {
  min-height: inherit;
  width: 100%;
  flex-direction: column;
}

.notFoundTitle {
  color: var(--fontColor);
}