.needle {
  transform-origin: bottom;
  animation: moveNeedle 5s infinite;
}

@keyframes moveNeedle {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}