.divContenedor {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.olTemperaments {
  width: 700px;
}

.liTemperaments,
.liTempDisabled {
  color: blue;
  display: block;
  width: 33%;
  float: left;

  cursor: pointer;
}

.liTemperaments:hover {
  color: crimson;
}

.liTempDisabled {
  color: crimson;
  cursor: default;
}

.liBreeds {
  color: orange;
}

.mainZone {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards {
  margin-left: 20vw;
}