.containerMeasure {
}

.containerNumbers {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  grid-template-rows: 1fr;

  color: var(--fontColor);
  font-weight: 500;
  font-size: var(--fontLarge);
}

.min {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
}

.current {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.current > i {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 0.5rem;
}

.max {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: right;
}

.measure {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 8rem;
  height: 4rem;
  border-radius: 100px 100px 0 0;
  border: 20px solid var(--bgSize);
  border-bottom: none;
  position: relative;
}

.measure::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 4rem;
  background-color: var(--fontColor);
  border-radius: 100% 100% 5px 5px;
  left: calc(50% - 3px);
  bottom: 3px;
  transform-origin: bottom;
  transition: transform 1.5s;
  transform: rotate(calc(var(--r)*1.8deg - 90deg));
}

.initialWeight {
  --r: 0;
}